In [1]:
import pandas as pd

In [7]:
hotels = pd.read_csv("hotel_booking_data.csv")
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [9]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [15]:
hotels.shape[0]

119390

In [21]:
#Pour voir les donnees MANQUANTES
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [23]:
#supression du colonnes qui a des donnes manquantes
hotels.drop("company", axis=1, inplace=True)

In [31]:
hotels["country"].value_counts().head(5)

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

In [45]:
ligne = hotels[hotels['adr'] == hotels['adr'].max()]
print(ligne[['adr', 'name']])

          adr           name
48515  5400.0  Daniel Walter

In [49]:
hotels["adr"].mean().round(2)

101.83

In [57]:
nuit = hotels["stays_in_weekend_nights"] + hotels["stays_in_week_nights"]
nuit.mean().round(2)

3.43

In [65]:

hotels['cout_total'] =(hotels['stays_in_weekend_nights'] + hotels['stays_in_week_nights']) * hotels['adr']
moyenne_cout_total = hotels['cout_total'].mean().round(2)
print(moyenne_cout_total)

357.85

In [73]:
hotels[hotels['total_of_special_requests'] > 4][['name', 'email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

In [75]:
pourcentage_repeats = (hotels['is_repeated_guest'].sum() / len(hotels)) * 100
print(round(pourcentage_repeats, 2))

3.19

In [93]:
hotels['name'].str.split().str[-1].value_counts().head(5)

name
Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: count, dtype: int64

In [101]:
hotels["babies"].value_counts().head(5)

babies
0     118473
1        900
2         15
10         1
9          1
Name: count, dtype: int64

In [114]:
hotels[hotels['is_canceled'] == 0]['name'].str.split().str[-1].value_counts().head(5)

name
Smith       1600
Johnson     1281
Williams     993
Brown        899
Jones        891
Name: count, dtype: int64

In [126]:
zaza = hotels["children"] + hotels["babies"]
zaza.value_counts().head()

0.0     110054
1.0       5446
2.0       3772
3.0        111
10.0         2
Name: count, dtype: int64

In [136]:
hotels.loc[hotels['children'] + hotels['babies'] == (hotels['children'] + hotels['babies']).max(), ['name', 'children', 'babies']]

                  name  children  babies
328      Jamie Ramirez      10.0       0
46619  Nicholas Parker       0.0      10

In [ ]:
#Quels sont les 3 indicatifs de région les plus courants dans les numéros de téléphone ? 
#(L'indicatif régional est constitué des 3 premiers chiffres)

In [ ]:
#Combien d'arrivées ont eu lieu entre le 1er et le 15 du mois (1er et 15 inclus) ? Bonus : pouvez-vous faire cela en une seule ligne de code Pandas

In [ ]:
#Tâche difficile à réaliser : Créer un tableau de comptage pour chaque jour de la semaine où des personnes sont arrivées

In [138]:
hotels['arrival_date'] = pd.to_datetime(hotels['arrival_date_year'].astype(str) + '-' + 
                                         hotels['arrival_date_month'] + '-' + 
                                         hotels['arrival_date_day_of_month'].astype(str))

# Ajouter une colonne pour le jour de la semaine
hotels['arrival_weekday'] = hotels['arrival_date'].dt.day_name()

# Comptabiliser le nombre d'arrivées pour chaque jour de la semaine
arrivées_par_jour = hotels[hotels['is_canceled'] == 0].groupby('arrival_weekday')['adults'].sum().reindex(
    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
print(arrivées_par_jour)

arrival_weekday
Monday       21263
Tuesday      16364
Wednesday    18057
Thursday     20805
Friday       21882
Saturday     21048
Sunday       18115
Name: adults, dtype: int64